* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: white;
  --black: black;
  --Infinity: #212832;
  --Matt-Purple: #8a79df;
  --Soft-Charcoal: #84829a;
  --Dusty-Orange: #df6951;
  --Hot-Embers: #f15a2b;
  --Fly-by-Night: #181e4b;
  --Santas-Grey: #9ca0b0;
  --Gorgonzola-Blue: #4152ca;
  --Strong-Irise: #5e6282;
  --Lemon-Dream: #f1a501;
  --Drippy-Honey: #f0bb1f;
  --Deadly-Depths: #14183e;
  --Ocean-Depths: #006380;
  --Fly-by-Night2: #1e1d4c;
  --Reversed-Grey: #080809;
  --Diplomatic: #39425d;
  --White-Smoke: #f5f5f5;
  --Cold-Morning: #e5e5e5;
  --Lynx-White: #f7f7f7;
  --Nostalgia-Perfume: #dfd7f9;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
body.dark-mode {
  background-color: var(--Reversed-Grey);
  transition: 0.7s;
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
header .container label {
  display: none;
  cursor: pointer;
}
header .container input {
  appearance: none;
}
header .container nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header .container nav ul li a {
  font-size: 17px;
  font-weight: 400;
  font-family: "Poppins", serif;
  color: var(--Infinity);
  padding: 0 20px;
}
header .container nav ul .sign_up {
  border: 1px solid var(--Infinity);
  border-radius: 5px;
  padding: 8px 0;
}
header .container nav ul li select {
  border: none;
  margin: 10px 20px;
  background-color: inherit;
  outline: none;
}
@media (max-width: 1200px) {
  header .container nav ul {
    display: none;
  }
  header .container label {
    display: block;
  }
  header .container input:checked ~ ul {
    display: block;
    position: absolute;
    right: 0;
    border: 1px solid var(--Infinity);
    border-radius: 6px;
    background-color: var(--white);
    z-index: 1;
    margin: 10px;
  }
  header .container nav ul li {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--Infinity);
  }
  header .container nav ul .sign_up {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--Infinity);
  }
}
.hero .container {
  display: flex;
  padding-top: 60px;
}
.hero .container .identification .around_the_world {
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: var(--Dusty-Orange);
  padding-bottom: 17px;
}
.hero .container .identification h1 {
  font-size: 84px;
  font-weight: 700;
  font-family: "Volkhov", serif;
  letter-spacing: -4%;
  line-height: 89px;
  color: var(--Fly-by-Night);
}
.hero .container .identification h1 span {
  position: relative;
}
.hero .container .identification h1 span::before {
  position: absolute;
  top: 80px;
  content: "";
  width: 100%;
  height: 50px;
  background-image: url(../images/Decore.png);
  background-repeat: no-repeat;
  background-size: calc(100% + 80px);
  z-index: -1;
}
.hero .container .identification p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: var(--Strong-Irise);
  line-height: 30px;
  padding-top: 20px;
}
.hero .container .identification .btn_hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;
}
.hero .container .identification .btn_hero .find {
  background-color: var(--Lemon-Dream);
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", serif;
  border-radius: 10px;
  padding: 13px;
}
.hero .container .identification .play_btn {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.hero .container .identification .play_btn .image_play {
  background-image: url(../icons/play-btn.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--Dusty-Orange);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.hero .container .identification .play_btn a {
  color: var(--Strong-Irise);
  font-size: 17px;
  font-weight: 500;
  font-family: "Poppins", serif;
  padding: 15px;
}
.hero .container .image .blob {
  position: absolute;
  top: 0;
  z-index: -1;
}
.offer_best_services .container {
  position: relative;
  padding-top: 100px;
}
.offer_best_services .container .image {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 70px;
}
.offer_best_services .container h2,
h4 {
  text-align: center;
}
.offer_best_services .container h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", serif;
}
.offer_best_services .container h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Volkhov", serif;
  padding-top: 10px;
  color: var(--Deadly-Depths);
}
.offer_best_services .container .our_services {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: space-around;
  padding-top: 70px;
}
.offer_best_services .container .our_services .service {
  text-align: center;
  position: relative;
}
.offer_best_services .container .our_services .service h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: var(--Fly-by-Night2);
  padding-top: 15px;
}
.offer_best_services .container .our_services .service p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: var(--Strong-Irise);
  padding-top: 10px;
}
.offer_best_services .container .our_services .service_flights {
  box-shadow: 0px 1.85px 3.15px 0px #0000005a;
  background-color: var(--white);
  text-align: center;
  position: relative;
  border-radius: 0 0 0 36px;
  padding: 20px;
}
.offer_best_services .container .our_services .service_flights::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  left: -20px;
  bottom: -35px;
  background-image: url(../images/Rectangle.webp);
  z-index: -1;
}
.offer_best_services .container .our_services .service_flights h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: var(--Fly-by-Night2);
}
.offer_best_services .container .our_services .service_flights p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: var(--Strong-Irise);
  padding-top: 10px;
}
.top_destinations .container h2,
h4 {
  text-align: center;
}
.top_destinations .container {
  padding-top: 150px;
}
.top_destinations .container h4 {
  font-weight: 18;
  font-weight: 600;
  font-family: "Poppins", serif;
}
.top_destinations .container h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Volkhov", serif;
}
.top_destinations .container .destiantions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}
.top_destinations .container .destiantions .sell,
.sell2 {
  display: flex;
  justify-content: space-between;
}
.top_destinations .container .destiantions .selling {
  box-shadow: 0 1.85px 3.15px 0 #00000038;
  border-radius: 24px;
  padding: 10px;
}
.top_destinations .container .destiantions .selling span {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: var(--Strong-Irise);
  padding: 10px;
}
.top_destinations .container .destiantions .selling .massege span {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", serif;
  padding: 10px;
}
.top_destinations .container .destiantions .selling .massege {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.top_destinations .container .destiantions .selling2 {
  position: relative;
}
@media (max-width: 1295px) {
  .top_destinations .container .destiantions .selling2::before {
    display: none;
  }
}
.top_destinations .container .destiantions .selling2::before {
  content: "";
  height: 300px;
  width: 100px;
  background-image: url(../images/Decore2.webp);
  background-repeat: no-repeat;
  position: absolute;
  right: -70px;
  bottom: 0;
  z-index: -1;
}
.your_next_trip .container {
  padding-top: 60px;
}
.your_next_trip .container .travel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  position: relative;
}
.your_next_trip .container span {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: var(--Strong-Irise);
}
.your_next_trip .container h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Volkhov", serif;
  text-transform: capitalize;
}
.your_next_trip .container .steps {
  display: flex;
  align-items: center;
}
.your_next_trip .container .steps .image {
  width: 47px;
  height: 48px;
  background-color: var(--Drippy-Honey);
  border-radius: 13px;
  background-image: url(../icons/Group\ 7.png);
  background-repeat: no-repeat;
  background-position: center;
}
.your_next_trip .container .steps .info_steps {
  padding: 20px;
}
.your_next_trip .container .steps .info_steps h3 {
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", serif;
  color: var(--Strong-Irise);
}
.your_next_trip .container .steps .info_steps p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", serif;
  color: var(--Strong-Irise);
  line-height: 19px;
  padding-top: 3px;
}
.your_next_trip .container .steps .image1 {
  width: 47px;
  height: 48px;
  background-color: var(--Hot-Embers);
  border-radius: 13px;
  background-image: url(../icons/Group\ 12.png);
  background-repeat: no-repeat;
  background-position: center;
}
.your_next_trip .container .steps .image2 {
  width: 47px;
  height: 48px;
  background-color: var(--Ocean-Depths);
  border-radius: 13px;
  background-image: url(../icons/Group\ 11.png);
  background-repeat: no-repeat;
  background-position: center;
}
.image_info {
  background-color: var(--white);
}
.image_info .information h3 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: var(--Reversed-Grey);
  padding-top: 20px;
}
.image_info .information span {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", serif;
}
.your_next_trip .container .image_info {
  background-color: var(--white);
  box-shadow: 0px 1.85px 3.15px 3px #00000009;
  border-radius: 26px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.your_next_trip .container .image_info .icons {
  display: flex;
  gap: 15px;
  padding-top: 15px;
}
.your_next_trip .container .image_info .icons .icon1 {
  width: 36px;
  height: 36px;
  background-color: var(--White-Smoke);
  border-radius: 50%;
  background-image: url(../icons/leaf\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
}
.your_next_trip .container .image_info .icons .icon2 {
  width: 36px;
  height: 36px;
  background-color: var(--White-Smoke);
  border-radius: 50%;
  background-image: url(../icons/Group.png);
  background-repeat: no-repeat;
  background-position: center;
}
.your_next_trip .container .image_info .icons .icon3 {
  width: 36px;
  height: 36px;
  background-color: var(--White-Smoke);
  border-radius: 50%;
  background-image: url(../icons/send\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
}
.your_next_trip .container .image_info .people {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.ellebse {
  position: absolute;
  right: -135px;
  top: -100px;
  width: 400px;
  z-index: -1;
}
.your_next_trip .container .mosque {
  display: flex;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 8.15px 6.52px 0px #00000023;
  border-radius: 18px;
  height: fit-content;
  position: absolute;
  right: -150px;
  bottom: 50px;
  padding: 20px;
}
.your_next_trip .container .mosque img {
  border-radius: 50%;
  display: flex;
  margin-bottom: 30px;
}
.your_next_trip .container .mosque .info_mosque {
  padding: 10px;
}
.your_next_trip .container .mosque .info_mosque span {
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", serif;
  letter-spacing: -3.5%;
  color: var(--Soft-Charcoal);
  padding-top: 10px;
}
.your_next_trip .container .mosque .info_mosque h5 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", serif;
  letter-spacing: -1.5%;
}
.your_next_trip .container .mosque .info_mosque h6 {
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: var(--Reversed-Grey);
  letter-spacing: -5.5%;
  padding-top: 10px;
}
.your_next_trip .container .mosque .info_mosque h6 span {
  color: var(--Matt-Purple);
}
@media (max-width: 991px) {
  .hero .container .image {
    display: none;
  }
  .hero .container .identification h1 {
    font-size: 70px;
  }
  .your_next_trip .container {
    text-align: center;
  }
  .your_next_trip .container .travel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top_destinations .container .destiantions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .top_destinations .container .destiantions .selling,
  .selling2 {
    margin-top: 30px;
  }
}
.what_people_say_about_us .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 150px;
}
.what_people_say_about_us .container .about_us h6 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", serif;
  text-transform: uppercase;
  color: var(--Strong-Irise);
  padding-bottom: 10px;
}
.what_people_say_about_us .container .about_us h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Volkhov", serif;
  text-transform: capitalize;
  color: var(--Deadly-Depths);
}
.what_people_say_about_us .container .about_us ul {
  display: flex;
  list-style: none;
  padding-top: 70px;
}
.what_people_say_about_us .container .about_us ul .black_color {
  width: 12px;
  height: 12px;
  background-color: var(--Diplomatic);
  border-radius: 50%;
  margin-right: 20px;
}
.what_people_say_about_us .container .about_us ul li {
  width: 12px;
  height: 12px;
  background-color: var(--Cold-Morning);
  border-radius: 50%;
  margin-right: 20px;
}
.what_people_say_about_us .container .client {
  border-radius: 10px;
  box-shadow: 0px 1.85px 3.15px 0px #0000006c;
  background-color: var(--white);
  padding: 25px;
  position: relative;
}
.what_people_say_about_us .container .client img {
  position: absolute;
  top: -35px;
  left: -35px;
}
.what_people_say_about_us .container .client .client1 p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", serif;
  line-height: 32px;
  color: var(--Strong-Irise);
}
.what_people_say_about_us .container .client .client1 .name {
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", serif;
  padding-top: 20px;
}
.what_people_say_about_us .container .client .client1 span {
  display: block;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: var(--Strong-Irise);
  padding-top: 5px;
}
.what_people_say_about_us .container .client .client2 {
  position: absolute;
  box-shadow: 0px 1.85px 3.15px 0px #00000043;
  border-radius: 10px;
  border: 3px solid var(--Lynx-White);
  bottom: -70px;
  left: 30px;
  width: 100%;
  padding: 20px;
  z-index: -1;
}
.what_people_say_about_us .container .client .client2 .thomas {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", serif;
  padding: 10px 0;
}
.what_people_say_about_us .container .client .client2 span {
  font-size: 14px;
  margin-bottom: -20px;
  padding: 15px 0;
}
.arrow img {
  display: block;
  padding-top: 35px;
  margin-top: 20px;
}
.prands .container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}
.expedia {
  box-shadow: 0px 1.85px 3.15px 0px #00000069;
  padding: 0 10px;
}
.subscribe .container {
  background-color: var(--Nostalgia-Perfume);
  border-radius: 105px 20px 20px 20px;
  padding: 80px;
  margin-top: 100px;
  z-index: -1;
  position: relative;
}
.subscribe .container p {
  font-size: 33px;
  font-weight: 600;
  font-family: "Poppins", serif;
  line-height: 54px;
  text-align: center;
  color: var(--Strong-Irise);
}
.subscribe .container .input_subscribe {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding-top: 50px;
}
.subscribe .container .input_subscribe .input_email {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  padding: 15px 20px;
}
.subscribe .container .input_subscribe .input_email input {
  border: none;
  outline: none;
  padding-left: 10px;
}
.subscribe .container .input_subscribe .input_email input::placeholder {
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.subscribe .container .input_subscribe .subscribe_btn input {
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  color: var(--white);
  font-family: "Open Sans", serif;
  font-size: 17px;
  font-weight: 600;
  padding: 13px 14px;
}
.subscribe .decore {
  text-align: end;
  padding-right: 70px;
  margin-top: -100px;
  z-index: -1;
}
.subscribe .decore1 {
  margin-top: -27px;
}
.subscribe .decore1 img {
  margin-top: -250px;
  margin-left: 180px;
}
.subscribe .send {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(201.65deg, #747def 10.27%, #5e3be1 100%);
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: -15px;
}
.subscribe .decore4 {
  width: 300px;
  position: absolute;
  right: -40px;
  bottom: 40px;
  rotate: -90deg;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px;
}
footer .container .logo a {
  font-size: 44px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: var(--Fly-by-Night);
}
footer .container .logo p {
  font-size: 13px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: var(--Strong-Irise);
  padding-top: 10px;
}
footer .container .about_us {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding-top: 20px;
}
footer .container .about_us .about h3 {
  font-size: 21px;
  font-weight: 700;
  font-family: "Poppins", serif;
  color: var(--Reversed-Grey);
  padding-bottom: 10px;
}
footer .container .about_us .about a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: var(--Strong-Irise);
  padding-top: 10px;
}
footer .container .social {
  text-align: center;
}
footer .container .social .social_icon {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
}
footer .container .social .social_icon .facebook {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: var(--white);
  background-image: url(../icons/Facebook\ Icon.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 2px 10px 0px #0000001a;
}
footer .container .social .social_icon .instagram {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-image: url(../icons/instagram\ 1.png),
    conic-gradient(
      from 180deg at 50% 50%,
      #b8d2f1 0deg,
      #f289aa 60deg,
      #c68bf0 106.09deg,
      #d164da 153.75deg,
      #c963e8 221.25deg,
      #bfc2e8 258.75deg,
      #ffc999 288.75deg,
      #d0d8c9 315deg,
      #bad0f1 334.13deg,
      #e3fbdc 358.97deg,
      rgb(212, 150, 150) 360deg
    );
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 2px 10px 0px #0000001a;
}
footer .container .social .social_icon .twiter {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: var(--white);
  background-image: url(../icons/twitter.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 2px 10px 0px #0000001a;
}
footer .container .social span {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: var(--Strong-Irise);
}
footer .container .social .app {
  padding: 20px 0;
}
footer .copyright {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: var(--Strong-Irise);
  padding: 30px;
}
@media (max-width: 440px) {
  footer .container {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1455px) {
  .your_next_trip .container .mosque {
    bottom: -150px;
    right: 10px;
    position: absolute;
  }
  .ellebse {
    display: none;
  }
  .decore,
  .subscribe .decore1,
  .decore4,
  .subscribe .container .send {
    display: none;
  }
  .what_people_say_about_us .container {
    margin-top: 100px;
  }
  .what_people_say_about_us .container .client .client1 .client2 {
    left: 0;
  }
}
